  .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80px;
    background-color: #fff;
    border-right: 1px solid #d5d5d5;
  
  &__hour {
    top: -6px;
    position: relative;
    height: 50px;
    padding-right: 8px;
    text-align: right;
  }
  &__hour-text {
    display: block;
    position: relative;
    font-size: 10px;
    color: grey;
  }
  
}